.image {
  width: 150px;
  height: 200px;
}
.card {
  width: 200px;
  height: 380px;
  box-shadow: 1px 4px 3px lightgrey;
  border-radius: 10px;
  margin: 15px;
}

.detail-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
}
